/* Two-column layout for styling options */
.accept-my-cookies-field {
    margin-bottom: 20px;
}

.accept-my-cookies-field label {
    display: block;
    font-weight: 600;
    margin-bottom: 5px;
}

.accept-my-cookies-field .color-picker-wrapper {
    display: flex;
    align-items: center;
    gap: 10px;
    width: fit-content;
}

.accept-my-cookies-field .color-picker-hex {
    flex: 1 1 150px;
}

.accept-my-cookies-field .color-picker {
    flex: 1 1 100px;
    height: 30px;
    padding: 0;
}

.accept-my-cookies-field .description {
    font-size: small;
}
